node-red/vroom.json
[
    {
        "id": "6de507610419494e",
        "type": "debug",
        "z": "823d54c46bface36",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 340,
        "wires": []
    },
    {
        "id": "8db094a524b585b8",
        "type": "mqtt out",
        "z": "823d54c46bface36",
        "name": "",
        "topic": "fiap/iot/led/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc6b0f72036c4361",
        "x": 1680,
        "y": 600,
        "wires": []
    },
    {
        "id": "8796c4b236ba2c24",
        "type": "mqtt in",
        "z": "823d54c46bface36",
        "name": "",
        "topic": "fiap/iot/led/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc6b0f72036c4361",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 740,
        "wires": [
            [
                "b5260245199ea368",
                "f2e87c78a091ccad"
            ]
        ]
    },
    {
        "id": "1bb7a37aea7ac1a0",
        "type": "function",
        "z": "823d54c46bface36",
        "name": "Function",
        "func": "let val = msg.payload.toString();\n\nif (val === \"off\") {\n    msg.payload = {\n        power: \"OFF\",\n        color: -1\n    };\n} else {\n    msg.payload = {\n        power: \"ON\",\n        color: parseInt(val)\n    };\n}\n\nmsg.topic = \"fiap/iot/led/state\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 440,
        "wires": [
            [
                "8db094a524b585b8",
                "6de507610419494e",
                "f2e87c78a091ccad"
            ]
        ]
    },
    {
        "id": "05553131cf29002b",
        "type": "inject",
        "z": "823d54c46bface36",
        "name": "Estado LED",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"power\": \"ON\", \"color\": 0 }",
        "payloadType": "json",
        "x": 930,
        "y": 600,
        "wires": [
            [
                "8db094a524b585b8",
                "f2e87c78a091ccad"
            ]
        ]
    },
    {
        "id": "ef7ff93dfc6d18f5",
        "type": "ui_dropdown",
        "z": "823d54c46bface36",
        "name": "",
        "label": "Controle da led",
        "tooltip": "",
        "place": "Select option",
        "group": "24acda8b426e6e34",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Desligar",
                "value": "off",
                "type": "str"
            },
            {
                "label": "Problema Mecânico",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Documentação Pendente",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Problema Elétrico",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Problema Estético",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Problema Segurança",
                "value": "4",
                "type": "str"
            },
            {
                "label": "Problemas Múltiplos",
                "value": "5",
                "type": "str"
            },
            {
                "label": "Motocicleta Pronta para Uso",
                "value": "6",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "color",
        "topicType": "msg",
        "className": "",
        "x": 920,
        "y": 440,
        "wires": [
            [
                "1bb7a37aea7ac1a0"
            ]
        ]
    },
    {
        "id": "b5260245199ea368",
        "type": "ui_text",
        "z": "823d54c46bface36",
        "group": "24acda8b426e6e34",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1660,
        "y": 740,
        "wires": []
    },
    {
        "id": "cc6b0f72036c4361",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "24acda8b426e6e34",
        "type": "ui_group",
        "name": "Controle da LED",
        "tab": "bd2e70451c4658d7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd2e70451c4658d7",
        "type": "ui_tab",
        "name": "Controle LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5d2cfc43a56d8d7a",
        "type": "file",
        "z": "823d54c46bface36",
        "name": "Salvar histórico em arquivo",
        "filename": "historico_mottu.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1900,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "f2e87c78a091ccad",
        "type": "function",
        "z": "823d54c46bface36",
        "name": "Formatar para JSON",
        "func": "let evento = {\n    timestamp: new Date().toISOString(),\n    topic: msg.topic,\n    payload: msg.payload\n};\n\nmsg.payload = JSON.stringify(evento);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 400,
        "wires": [[
            "5d2cfc43a56d8d7a"
        ]]
    }
]
